@font-face {
    font-family: cargo;
    src: url('../fonts/cargo.ttf'); 
}

#myBody {
	font-family: Roboto;
	background-color: #9a8d53;
}

#mapTitle {
	font-family: cargo;
	color: #601b17;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#map {
    height: 500px;
    display: inline-block;
}

.legend-control-container {
    background-color: rgba(255,255,255,0.8);
    text-align: center;
    border: solid gray 1px;
}

.sequence-control-container {
    width: 200px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    text-align: center;
    border: solid gray 1px;
}

#rangeSlider {
    width: 50%;
    display: inline-block;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}

#panel {
    padding: 0px 20px;
    max-height: 500px;
    display: inline-block;
    vertical-align: top;
}

#panelTitle {
    text-align: center;
    padding: 0;
    font-weight: 500;
    font-size: 32px;
}

#panelPic img {
    width: 80%;
    display: block;
    margin: auto;
}

#panel p {
    font-family:Bitter;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}