@font-face {
    font-family: cargo;
    src: url('../fonts/cargo.ttf'); 
}

#myBody {
	font-family: Roboto;
	background-color: #9a8d53;
}

#mapTitle {
	font-family: cargo;
	color: #601b17;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#map {
    height: 500px;
    display: inline-block;
}

#panel {
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}

#panelPic img{
    width: 80%;
}

.range-slider {
    width: 50%;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}